<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.test.user.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <display-name>UserApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost/mydb</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>Rooh@#2001</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.test.user.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadUserServlet</servlet-name>
    <servlet-class>com.test.user.servlet.ReadUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadUserServlet</servlet-name>
    <url-pattern>/readServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterServletCommunication</display-name>
    <servlet-name>InterServletCommunication</servlet-name>
    <servlet-class>com.test.user.servlet.InterServletCommunication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterServletCommunication</servlet-name>
    <url-pattern>/InterServletCommunication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPageUser</display-name>
    <servlet-name>LoginPageUser</servlet-name>
    <servlet-class>com.test.user.servlet.LoginPageUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageUser</servlet-name>
    <url-pattern>/LoginPageUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.test.user.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreIntializationOfServlet</display-name>
    <servlet-name>PreIntializationOfServlet</servlet-name>
    <servlet-class>com.test.user.servlet.PreIntializationOfServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreIntializationOfServlet</servlet-name>
    <url-pattern>/PreIntializationOfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listner</display-name>
    <servlet-name>Listner</servlet-name>
    <servlet-class>com.test.user.servlet.Listner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listner</servlet-name>
    <url-pattern>/Listner</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.test.user.servlet.RequestListner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>FilterBasic</display-name>
    <servlet-name>FilterBasic</servlet-name>
    <servlet-class>com.test.user.servlet.FilterBasic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterBasic</servlet-name>
    <url-pattern>/FilterBasic</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DemoFilter</display-name>
    <filter-name>DemoFilter</filter-name>
    <filter-class>com.test.user.servlet.DemoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoFilter</filter-name>
    <url-pattern>/DemoFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SourceServlet</display-name>
    <servlet-name>SourceServlet</servlet-name>
    <servlet-class>com.learn.sessionmanagent.SourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SourceServlet</servlet-name>
    <url-pattern>/SourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TargetServlet</display-name>
    <servlet-name>TargetServlet</servlet-name>
    <servlet-class>com.learn.sessionmanagent.TargetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetServlet</servlet-name>
    <url-pattern>/TargetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPInfo</display-name>
    <servlet-name>JSPInfo</servlet-name>
    <servlet-class>com.learn.JSP.JSPInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPInfo</servlet-name>
    <url-pattern>/JSPInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AverageControllerServlet</display-name>
    <servlet-name>AverageControllerServlet</servlet-name>
    <servlet-class>com.learn.MVC.AverageControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AverageControllerServlet</servlet-name>
    <url-pattern>/AverageControllerServlet</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>myResource</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>myUserRole</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>FILE</realm-name>
  </login-config>
  <servlet>
    <description></description>
    <display-name>ConnectionPoolig</display-name>
    <servlet-name>ConnectionPoolig</servlet-name>
    <servlet-class>com.learn.conectionpooling.ConnectionPoolig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionPoolig</servlet-name>
    <url-pattern>/ConnectionPoolig</url-pattern>
  </servlet-mapping>
</web-app>